
:root{
    --primary-font-family: arial;
    --secundary-font-family: Georgia;
    --text-color: rgb(73, 73, 73);
    --primary-color: rgb(255, 22, 22);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos comunes */

.title {
    width: 100%;
    font-weight: 500;
    font-size: 2.7rem;
    margin: 0.75rem;
    font-family: var(--primary-font-family), sans-serif;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: var(--primary-color);
}

ul {
    list-style: square;
    padding: 10px 75px;
    margin: 0;
}


h2 {
    font-weight: 400;
    font-size: 2.2rem;
    padding-bottom: 25px;
}


/* Cabecera */
.menu {
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.menu-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    line-height: 1.5;
}

.menu-links a {
    font-family: var(--primary-font-family), sans-serif;
    font-size: 16px;
}

/* Contenido main*/

.index {
    max-width: 75%;
    text-align: justify;
    margin: auto;
    color: var(--text-color);
    font-family: var(--primary-font-family), sans-serif;
    line-height: 1.5;
}

section {
    margin-bottom: 20px;
}

.contenedor-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    max-width: 100%;
}

.contenedor-video iframe {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
}

.figcaption-video {
    width: 100%;
    max-width: 800px;
    text-align: right;
    font-size: 0.6rem;
    margin-top: 10px;
}

.figure-principal{
    margin: 20px auto;
    text-align: end;
    max-width: 100%;
}

.figure-principal figcaption{
    font-size: 0.6rem;
}

.imagen-principal {
    width: 100%;
    height: auto;
}

.articulo-links{
    color: var(--primary-color);
}

.articulo-links:hover {
    text-decoration: underline;
}

.footer-autora {
    margin: 2rem auto;
    width: 69%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.7rem;
}

.footer-autora img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px auto;
}

.fin-articulo{
    text-align: center;
    font-size: 0.7rem;
    background-color: #efefef;
}

.font-georgia{
    font-family: var(--secundary-font-family), serif;
}

/* Tipos de robots*/

.tipos {
    width: 37%;
    margin: auto;
    color: var(--text-color);
    line-height: 1.5;
    font-family: var(--primary-font-family), sans-serif;
}

.tipos h1 {
    text-align: center;
}

.cita {
    background-color: #efefef;
    border-left: 4px solid var(--primary-color);
    padding: 25px;
    font-size: 20px;
    font-family: var(--secundary-font-family), serif;
}

.lista-iconos{
    list-style-image: url('../img/icon-robot.png');
    padding:0 25px;
}

.lista-iconos li {
    font-size: 17px;
}

/* Footer pagina*/

.footer-pagina{
    padding: 4rem 0 3rem 0;
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--primary-font-family), sans-serif;
    font-size: 0.7rem;
}