
:root{
    --primary-font-family: arial;
    --secundary-font-family: Georgia;
    --text-color: rgb(73, 73, 73);
    --primary-color: rgb(255, 22, 22);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos comunes */

main{
    margin: auto;
    color: var(--text-color);
    font-family: var(--primary-font-family), sans-serif;
    line-height: 1.5;
}

.title {
    width: 100%;
    font-weight: 500;
    font-size: 2.7rem;
    margin: 0.75rem;
    font-family: var(--primary-font-family), sans-serif;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
}

ul {
    list-style: square;
    padding: 10px 75px;
    margin: 0;
}


h2 {
    font-weight: 400;
    font-size: 2.2rem;
    padding-bottom: 25px;
}

h3{
    font-size: 1.7rem;
    font-weight: 200;
}

section {
    margin-bottom: 20px;
}



/* Cabecera */
.menu {
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.menu_links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    line-height: 1.5;
}

.menu_links a {
    font-family: var(--primary-font-family), sans-serif;
    font-size: 16px;
}


.links{
    color: var(--primary-color);
}

.links:hover {
    text-decoration: underline;
}

/* Contenido main*/

.index, .ficcion{
    max-width: 75%;
    text-align: justify;
    font-weight: 300;
}

.contenedor_video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    max-width: 100%;
}

.contenedor_video iframe {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
}

.contenedor_video figcaption {
    width: 100%;
    max-width: 800px;
    text-align: right;
    font-size: 0.6rem;
    margin-top: 10px;
}

.figure_principal{
    margin: 20px auto;
    text-align: end;
    max-width: 100%;
}

.figure_principal figcaption{
    font-size: 0.6rem;
}

.figure_principal-img {
    width: 100%;
    height: auto;
}

.footer_autora {
    margin: 2rem auto;
    width: 69%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.7rem;
}

.footer_autora img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px auto;
}

.fin_articulo{
    text-align: center;
    font-size: 0.7rem;
    background-color: #efefef;
}

.font_georgia{
    font-family: var(--secundary-font-family), serif;
}

/* Tipos de robots*/

.tipos {
    width: 37%;

}

.cita {
    background-color: #efefef;
    border-left: 4px solid var(--primary-color);
    padding: 25px;
    font-size: 20px;
    font-family: var(--secundary-font-family), serif;
}

.lista_iconos{
    list-style-image: url('../img/icon-robot.png');
    padding:0 0 0 25px;
}

.lista_iconos > li {
    font-size: 17px;
    padding-bottom: 15px;
}

.li_clasificacion{
    padding: 0 50px;
}

.li_industria{
    padding: 0 50px;
    list-style: disc;
}

/* robots ficcion*/

.ficcion figure {
    text-align: center;
    margin: 15px;
}

.ficcion figcaption{
    color: var(--primary-color);
    margin: 15px;
}

/* Footer pagina*/

.footer_pagina{
    padding: 4rem 0 3rem 0;
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--primary-font-family), sans-serif;
    font-size: 0.7rem;
}

@media (max-width: 768px) {
    ul {
        padding: 10px 20px;
    }

    h2{
        font-size: 1.5rem;
    }
    .title {
        font-size: 2rem;
        margin: 0.5rem;
    }
    .tipos {
        width: 90%;
    }

    .ficcion img {
        width: 100%;
    }
}